form {
    border: solid 1px;
    border-radius: 8px;
    background-color: rgba(120, 150, 150, 0.6);
    box-shadow: 0px 0px 5px 5px gray;
    width: 15%;
    margin: 0 auto;
}
form > div {
    border: none;
}
